{% extends "base.html" %}

{% block title %}Int20h{% endblock %}
    
{% block content %}
<div id="greetings">
	<p>Hi! We are applied math microteam from KPI.</p>
	<p>This site was provided by us for participation at the Int20h hackathon.</p>
	<p>It contains of "Akinator" and "Game" pages.</p>
	<p>At the first page you could to find the name of the song (and to listen) that already 2 weeks seating in your head. By 3 methods: text of lyrics, uploading of the song or your beautiful singing into a microphone (need to access using of microphone).</p>
	<p>At the second page you could to play with computer (to guess a songs).</p>
</div>
{% endblock content%}
