<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Int20h</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <form action="/upload-song" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Select track</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="track" id="track">
                <label class="custom-file-label" for="track">Select track...</label>
            </div>
        </div>

         <button type="submit" class="btn btn-primary">Send your part of song</button>

    </form>
	<!-- <form id="uploading" action="">
		<p>uploading:
		<input style="display:block" id="upload" type="button" value="upload the song">
		<input style="display:none" id="check-upload" type="button" value="check out"></p>
	</form> -->
	<form id="texting" action="">
		<p>texting:
		<input style="display:block" id="text-s" type="text" value="text">
		<input style="display:none" id="check-text-s" type="button" value="check out"></p>
	</form>
	<form id="recording" action="">
		<p>recording:
		<input style="display:block" id="record" type="button" value="record the song">
		<input style="display:block" id="stopRecord" type="button" value="stop a recording">
		<input style="display:none" id="check-record" type="button" value="check out">
		</p><p>
      		<audio id=recordedAudio></audio>
      	</p>
	</form>


	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>