<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Int20h</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1>Powered by Microchellicks Team</h1>

    <h3>Upload new File</h3>

    <form method=post action="/upload" enctype=multipart/form-data>
        <input type=file name=file>
        <br><br>
        <input type=submit value=Upload>
    </form>

    {{ text }}
</body>
</html>