<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/getsong">
        <input id="fileupload" name="myfile" type="file" />
        <br>
        <input type="submit" value="submit" id="submit" />
     </form>
</body>
</html>